body
{
    background-color: dodgerblue;
    text-align: center;
    line-height: 1.5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container{
    margin: 0 auto;
    background-color: skyblue;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

header {
    width:100%;
    background: deepskyblue;
    margin-bottom: 20px;
    border-bottom: 1px solid gold;
    padding: 0 15px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.col-sm-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

footer{
    border-top:1px solid gold ;
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    background-color: white;
}

.border-right {
    border-right: 1px solid #dee2e6!important;
}

.social-icon {
    width: 40px;
    height: 40px;
}

/* =======Media Query for Desktop, Tab and Mobile Screen */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

